.App {
  height: 500px;
  border: solid 1px red;
  background-color: black;
}

.result {
  margin: auto;
  border: solid 1px black;
  background-color: rgb(72, 86, 97);
  color: white;
  width: 22%;
  text-align: right;
  margin-top: 5%;
  height: 15%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 35%);
  margin-left: 39%;

  width: 22%;
}

.zero {
  grid-column: 1 / span 2;
  color: white;
  background-color: rgb(114, 116, 120);
}

.num {
  color: white;
  background-color: rgb(114, 116, 120);
}
.top {
  color: white;
  background-color: rgb(114, 114, 112);
}

.cal {
  color: white;
  background-color: rgb(247, 158, 12);
}
